

.solar {
    margin: auto;
}

svg {
    width: 100%;
    height: 100%;
}

.solar path {

    fill: rgb(124, 11, 109) !important;
    stroke: #de0cb1;
    stroke-width: 6px ;
    transition: fill 0.3s;
}

.solar :hover {
    fill: rgba(32, 228, 14, 0.911) !important;
}

.noHover{
    pointer-events: none;
}