div #UnitedStates{
    background-color: deepskyblue;
}

svg{
    height:20%;
    margin: auto;
}

.divmap svg path {
    fill: #df8014e0 !important;
    stroke: #ecfd00;
    stroke-width: 3px bold;
    transition: fill 0.3s;

}

.mapdiv svg path {
    fill: rgb(13, 226, 31) !important;
    stroke: #ecfd00;
    stroke-width: 1px;
    transition: fill 0.3s;
}


.divmap :hover {
    fill:rgb(0, 0, 0) !important ;
}

.mapdiv :hover {
    fill:rgb(0, 0, 0) !important ;
}

embed, object {
    outline: none;
    /* background-color: aquamarine; */
    height: 800px;
    width: 1200px;
}

embed data {
    color: white;
}

.login-page, .register-page{
    /* background-image: linear-gradient(rgba(0,0,0,0.6),
                                    rgba(0,0,0,0.6)), url(../images/scobot2.png); */
    background-image: url(../images//scobot2.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.login-form, .register-form {
    position: relative;
    z-index: 1;
    background: rgba(30, 40, 82, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.login-form input, .register-form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border box;
    font-size: 14px;
}

.login-form button , .register-form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFF;
    font-size: 14p;
    cursor: pointer;
}

.form button:hover, .form button:active {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 12px;
}

.form message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}
