div #UnitedStates{
    background-color: deepskyblue;
}

svg{
    height:20%;
    margin: auto;
}

.divmap svg path {
    fill: #df8014e0 !important;
    stroke: #ecfd00;
    stroke-width: 3px bold;
    transition: fill 0.3s;

}

.mapdiv svg path {
    fill: rgb(13, 226, 31) !important;
    stroke: #ecfd00;
    stroke-width: 1px;
    transition: fill 0.3s;
}


.divmap :hover {
    fill:rgb(0, 0, 0) !important ;
}

.mapdiv :hover {
    fill:rgb(0, 0, 0) !important ;
}

embed, object {
    outline: none;
    /* background-color: aquamarine; */
    height: 800px;
    width: 1200px;
}

embed data {
    color: white;
}

